[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
requests = "*"
xmltodict = "*"
ipython = "*"
ipdb = "*"

[dev-packages]
pylint = "*"
"flake8" = "*"

[requires]
python_version = "3.6"
